.list {
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  padding: 0.8em;
  background: rgb(0, 0, 0);
  border-radius: 0.5em;
  //border-color: black;
  margin: 0.7em;
  input {
    all: unset;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 100%;
  }
  ::placeholder{
    color: white;
  }
  i {
    float: right;
    cursor: pointer;
    color: white;
  }
  i:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}

